{%extends 'base.html'%}{%load bootstrap5%}{% load static %}
{%block content%}


<!-- <div class="container shadow" style="height: 50vh;width:94%;margin-top:3%;background-image: url(/static/images/bounty6.jpg );">
  <h1  style="padding-top: 7%;padding-left:10%;color: rgb(25, 83, 159);"></h1>
</div> -->

<div class="container-fluid">
 
    <!-- <h1 style="color: rgb(13, 134, 195);margin-top: 3%;">Victory Care Home </h1> -->
    
   
      
<!-- Carousel Wrapper -->
<div id="carousel-example-2" class="carousel slide carousel-fade" data-ride="carousel">
    
    <ol class="carousel-indicators">
      <li data-target="#carousel-example-2" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-example-2" data-slide-to="1"></li>
      <li data-target="#carousel-example-2" data-slide-to="2"></li>
    </ol>
   
    <div class="carousel-inner" role="listbox">
      <div class="carousel-item active">
        <div class="view">
          <img class="d-block w-100" src="/static/images/Free photo medium shot health worker helping patien.jpg"
            alt="First slide">
          <div class="mask rgba-black-light"></div>
        </div>
        <div class="carousel-caption">
          <h3 class="h3-responsive" style="font-family: Sofia, sans-serif;">Victory Care Home</h3>
          
        </div>
      </div>
      <div class="carousel-item">
        
        <div class="view">
          <img class="d-block w-100" src="/static/images/Free photo joyful old lady sitting on couch.jpg"   alt="Second slide">
          <div class="mask rgba-black-slight"></div>
        </div>
        <div class="carousel-caption">
          <h3 class="h3-responsive" style="font-family: Sofia, sans-serif;">Victory Care Home</h3>
          
        </div>
      </div>
      <div class="carousel-item">
        
        <div class="view">
          <img class="d-block w-100" src="/static/images/Photo senior man volunteer nurse or support caregiv.jpg"
            alt="Third slide">
          <div class="mask rgba-black-slight"></div>
        </div>
        <div class="carousel-caption">
          <h3 class="h3-responsive" style="font-family: Sofia, sans-serif;">Victory Care Home</h3>
       
        </div>
      </div>
    </div>
    
    <a class="carousel-control-prev" href="#carousel-example-2" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carousel-example-2" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
    
  </div> 
  <!--Carousel Wrapper-->
        
  <div class="container-fluid">
    <div class="row">
        <section class="about container" id="about" style="  background: linear-gradient(180deg, rgb(255, 255, 255), rgb(209, 233, 254));padding: 5% 5%;
        margin-top: 3%;text-align: center;">
           
          
            <h2 style="font-family:  cursive;">Live life <br> Under our care.
            </h2>
            <p style="font-family: Sofia, sans-serif;">Aplace where your loved ones will receive compassionate 24/7 care without missing home.</p>
        </section>
       
        <h2></h2>
    </div>

    <div class="row">
      <div class="col-md-6">

      </div>
      <div class="col-md-6">

      </div>
    </div>
    <div class="row" style="margin-top: 3%;">
        <div class="col-md-1"></div>
        <div class="col-md-5">
            <h1 style="color: black;padding-top: 2%;">Victory Care Home</h1>
            <h1 style="color: black;">Services, LLC.</h1>
            <p style="font-family: Verdana, Geneva, Tahoma, sans-serif;margin-top: 3%;">The golden years must be gratifying and fulfilling.<br> Health and safety risks shouldn’t hinder seniors from having memorable moments in their life.<br>

                We want aging adults to have that kind of life through our services.<br> You will find ease and peace in knowing that your loved ones are enjoying their life while receiving keen and compassionate care according to their needs.</p>
        </div>
        <div class="col-md-6">
            <img src="{% static 'images/Free photo medium shot health worker helping patien.jpg' %}" alt="" style="height: 99%; width: 99%;border-radius: 50%;">
        </div>
    </div>

    <div class="row" id="services" style="margin-top: 3%;font-family: Verdana, Geneva, Tahoma, sans-serif;">
      <h1 style="text-align: center;color: rgb(16, 152, 197);padding-top: 2%; margin-bottom: 2%;">Services we offer</h1>
      
      <div class="col-md-3">
        <img src="static/images/bottom1-img3.jpg" alt="">

        <!-- <img src="{% static 'images/tractor1.jpg' %}" alt="tractor in transport" id="courasel1" /> -->
        <!-- <h3>Private Duty Nurse</h3>
        <p>Victory Homecare Service is dedicated to providing quality homecare services to meet your individual needs. We specialize in providing personalized care tailored to each individual’s lifestyle, allowing them to live independently in the comfort of their own home.  We are passionate about providing our clients with the best care possible.</p> -->
    </div>
    <div class="col-md-3">
      <!-- <img src="/static/images/bottom1-img3.jpg" alt=""> -->
      <h3>Private Duty Nurse</h3>
      <p>Victory Homecare Service is dedicated to providing quality homecare services to meet your individual needs. We specialize in providing personalized care tailored to each individual’s lifestyle, allowing them to live independently in the comfort of their own home.  We are passionate about providing our clients with the best care possible.</p>

       <ul>
        <li>Wound care</li>
         <li>Post-surgical care</li>  
         <li> Medication management and education</li>  
         <li> Catheter care</li>     
         <li> Pain management</li>      
          <li>Injection administration</li>        
          <li>Blood draws</li> 
         <li>Glucose monitoring</li>        
          <li>Vitals monitoring</li>
         <li> Client assessment and Health education</li>
          
         <li> Long-term care management</li>
      </ul>
    </div>
      <div class="col-md-3">
          <img src="/static/images/bottom1-img2.jpg" alt="">
         
      </div>
      <div class="col-md-3">
        <!-- <img src="/static/images/bottom1-img2.jpg" alt=""> -->
        <h3> In-Home Care</h3>
        <p>At Victory Homecare Service, we’re dedicated to providing the best possible care and assistance for all of our clients. Our team of experienced professionals is committed to helping individuals maintain their independence and quality of life in the comfort of their own home.

          We’re passionate about providing our clients with personalized and compassionate care. Our services are tailored to meet each individual’s needs, ensuring that they receive the highest quality of care and support. With our team of experts, you can trust that you’ll be in the best hands.
          
          The services we provide include, but are and not limited to the following:</p>
          <ul>
            <li>Night supervision</li>
            <li>Medication management</li>
            <li>In home respite care for family caregivers</li>
            <li>Companion services</li>
            <li>Homemaker services</li>
            <li>Personal care assistance services</li>
            <li>Home health services</li>
            <li>Individual community support</li>
            

          </ul>
    </div>
      <div class="col-md-3">
          <img src="/static/images/bottom1-img1.jpg" alt="">
          <!-- <h3>Assisted Living</h3>
          <p>At Arise Homecare Service, we strive to provide the highest level of care for our clients. Our team of dedicated professionals is dedicated to providing quality care that is tailored to the individual needs of each patient. We are committed to providing compassionate, personalized care and support to our patients and their families. Our services are designed to help people stay independent and safe in their homes. We are committed to providing a safe, comfortable and supportive environment for our patients and their families.Among other tasks, we offer assistance with the following:</p> -->
      </div>
      <div class="col-md-3">
        <!-- <img src="/static/images/bottom1-img1.jpg" alt=""> -->
        <h3>Assisted Living</h3>
        <p>At Arise Homecare Service, we strive to provide the highest level of care for our clients. Our team of dedicated professionals is dedicated to providing quality care that is tailored to the individual needs of each patient. We are committed to providing compassionate, personalized care and support to our patients and their families. Our services are designed to help people stay independent and safe in their homes. We are committed to providing a safe, comfortable and supportive environment for our patients and their families.Among other tasks, we offer assistance with the following:</p>
    
        <ul>
          <li>Housekeeping</li>
          <li>Laundry</li>
          <li>Medication management</li>
          <li>Grocery Shopping</li>
          <li>Preparing/Cooking meals</li>
          <li>Appropriate daily exercise</li>
          <li>Transportation</li>
        </ul>

      </div>
      <div class="col-md-3">
          <img src="/static/images/elderly people playing some games.jpg" alt="">
          <!-- <h3 >Respite Care</h3>
          <p>The weight of providing constant care  can sometimes feel overwhelming . At Solace, we aim to provide primary caregivers with much needed rest by taking care of their loved ones with the dignity, respect, and compassion they deserve. Respite care can be arranged for just a few hours at a time or over the span of several days. Along with In Home Care services, some of the tasks we assist with include, but are not limited to:  </p> -->
      </div>
      <div class="col-md-3">
        <!-- <img src="/static/images/elderly people playing some games.jpg" alt=""> -->
        <h3 >Respite Care</h3>
        <p>The weight of providing constant care  can sometimes feel overwhelming . At Solace, we aim to provide primary caregivers with much needed rest by taking care of their loved ones with the dignity, respect, and compassion they deserve. Respite care can be arranged for just a few hours at a time or over the span of several days. Along with In Home Care services, some of the tasks we assist with include, but are not limited to:  </p>
    

        <ul>
          <li>Companionship</li>
          <li>Dressing</li>
          <li>Medication management</li>
          <li>Eating and drinking</li>
          <li>Appropriate exercise</li>
          
        </ul>
      </div>
  </div>
    <!-- <div class="container">
        <div class="row" style="margin-top: 5%;align-items: center;">
            <div class="col-md-4" style="align-items: center;text-align: center;">
                <h3>Schedule an assesment</h3>
                <p>Learn more about how our services can affect your loved one.</p>
                <img src="/static/images/bottom1-img1.jpg" alt="">
            </div>
            <div class="col-md-4" style="align-items: center;text-align: center;">
                <h3>We accept referrals</h3>
                <p>Refer us to someone you know that needs our services</p>
                <img src="/static/images/bottom1-img2.jpg" alt="">
            </div>
            <div class="col-md-4" style="align-items: center;text-align: center;">
                <h3>Our assisted living staff</h3>
                <p>Meet the staff behind our excellent living services</p>
                <img src="/static/images/bottom1-img3.jpg" alt="">
            </div>
        </div>

    </div> -->
    <div class="row" style="margin-top: 3%;padding-bottom: 2%; background: linear-gradient(180deg, rgb(255, 255, 255), rgb(186, 219, 246));padding: 5% 5%;">
        <div class="col-md-1"></div>
        <div class="col-md-3">
            <h1>Our Mission</h1>

        </div>
        <div class="col-md-5">
            <h4 style="font-family: cursive;">
                We aim to make a senior's life more meaningful without worrying about who will care for their safety and needs through our various excellent assisted living services and amenities.


            </h4>

        </div>
        <div class="col-md-3">
            <a href=""><button type="button" class="btn btn-info" style="border-radius: 30px;font-family: Georgia, serif;">About Us </button></a>
        </div>
    </div>

    <div class="row" style="margin-top: 3%;margin-bottom: 1%;background: linear-gradient(180deg, rgb(255, 255, 255),rgb(190, 239, 247), rgb(215, 233, 247));text-align: center;padding-bottom: 2%;">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <h1 style="color: black;">Send us a Message</h1>
        <div class="form-outline">
          <!-- <input type="email" style="width: 50%;" placeholder="Enter Email Address" id="typeEmail" class="form-control" />
          <button class="btn btn-theme" style="margin-left: 51%; margin-top:-12%;">Subscribe</button>
-->

      <form action=""method="POST" style="margin-top: 3%;"  >
         <label>

          <input type="email" name="email" placeholder="Enter email address..." style="height:50px;width: 100%;margin-top: 2%;">
                </label> <br>
                <input type="text" id="fname" name="firstname" placeholder="Your name.." style="height:50px;width: 90%;margin-top: 2%;"><br>
                
          <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px;width: 90%;margin-top: 2%;"></textarea><br>
                        


          <button type="button" class="btn btn-info" style="border-radius: 30px;font-family: Georgia, serif;">Submit</button>
                </form>
        </div>
      </div>
      <div class="col-md-2">
        
      </div>
    </div>
    <div class="row" style="margin-top: 3%;margin-bottom: 1%;padding-top: 3%;">
      <div class="col-md-1">

      </div>
      <div class="col-md-5">
        <img src="/static/images/maporegon.jpeg" alt="" style="height: 80%; width: 90%;border-radius: 60%;">
      </div>
      <div class="col-md-5" style="font-family: Cursive;margin-top: 7%;font-size: larger;">
        <h1>Contact Information</h1>
        <p>
          You may reach out to us through any of our contact details provided below.
        </p>

        <p>
          1908 Skyline Dr. N <br>
          Burnsville, Minnesota 55337
        </p>

        <p>
          Phone: 602-432-0000 | 952-212-0000 <br>
          Email: victorycarehome@gmail.com
        </p>
      </div>
      <div class="col-md-1"></div>
    </div>
   
    
  </div>

</div>



{%endblock%}