{%extends 'base.html'%}{%load bootstrap5%}{% load static %}
{%block content%}


<!-- <div class="container shadow" style="height: 50vh;width:94%;margin-top:3%;background-image: url(/static/images/bounty6.jpg );">
  <h1  style="padding-top: 7%;padding-left:10%;color: rgb(25, 83, 159);"></h1>
</div> -->

<div class="container-fluid">
 
    <!-- <h1 style="color: rgb(13, 134, 195);margin-top: 3%;">Victory Care Home </h1> -->
    
   
      
<!-- Carousel Wrapper -->
<div id="carousel-example-2" class="carousel slide carousel-fade" data-ride="carousel">
    
    <ol class="carousel-indicators">
      <li data-target="#carousel-example-2" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-example-2" data-slide-to="1"></li>
      <li data-target="#carousel-example-2" data-slide-to="2"></li>
    </ol>
   
    <div class="carousel-inner" role="listbox">
      <div class="carousel-item active">
        <div class="view">
          <img class="d-block w-100" src="/static/images/Free photo medium shot health worker helping patien.jpg"
            alt="First slide">
          <div class="mask rgba-black-light"></div>
        </div>
        <div class="carousel-caption">
          <h3 class="h3-responsive" style="font-family: Sofia, sans-serif;">Victory Care Home</h3>
          
        </div>
      </div>
      <div class="carousel-item">
        
        <div class="view">
          <img class="d-block w-100" src="/static/images/Free photo joyful old lady sitting on couch.jpg"   alt="Second slide">
          <div class="mask rgba-black-slight"></div>
        </div>
        <div class="carousel-caption">
          <h3 class="h3-responsive" style="font-family: Sofia, sans-serif;">Victory Care Home</h3>
          
        </div>
      </div>
      <div class="carousel-item">
        
        <div class="view">
          <img class="d-block w-100" src="/static/images/Photo senior man volunteer nurse or support caregiv.jpg"
            alt="Third slide">
          <div class="mask rgba-black-slight"></div>
        </div>
        <div class="carousel-caption">
          <h3 class="h3-responsive" style="font-family: Sofia, sans-serif;">Victory Care Home</h3>
       
        </div>
      </div>
    </div>
    
    <a class="carousel-control-prev" href="#carousel-example-2" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carousel-example-2" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
    
  </div> 
  <!--Carousel Wrapper-->
        
  <div class="container-fluid">
    <div class="row">
        <section class="about container" id="about" style="  background: linear-gradient(180deg, rgb(255, 255, 255), rgb(65, 161, 240));padding: 5% 5%;
        margin-top: 3%;text-align: center;">
           
          
            <h2 style="font-family:  cursive;">Live life <br> Under our care.
            </h2>
            <p style="font-family: Sofia, sans-serif;">Aplace where your loved ones will receive compassionate 24/7 care without missing home.</p>
        </section>
       
        <h2></h2>
    </div>

    <div class="row" style="margin-top: 3%;">
        <h1 style="text-align: center;color: rgb(16, 152, 197);padding-top: 2%;">Services we offer</h1>
        <div class="col-md-3">
            <img src="/static/images/bottom1-img3.jpg" alt="">
            <h3>24HR staff availability</h3>
            <p>Always on call and ready to attend whenever care assistance is needed.</p>
        </div>
        <div class="col-md-3">
            <img src="/static/images/bottom1-img2.jpg" alt="">
            <h3>Private and Semi private rooms</h3>
            <p>Promoting independence, comfort, and safety with semi-private and private rooms.</p>
        </div>
        <div class="col-md-3">
            <img src="/static/images/bottom1-img1.jpg" alt="">
            <h3>Recreational programs</h3>
            <p>Different entertaining activities to enjoy life to the fullest.</p>
        </div>
        <div class="col-md-3">
            <img src="/static/images/elderly people playing some games.jpg" alt="">
            <h3 >View more Services</h3>
            <p>See more to find out the services we can do for you.</p>
        </div>
    </div>
    <div class="row" style="margin-top: 3%;">
        <div class="col-md-1"></div>
        <div class="col-md-5">
            <h1 style="color: black;padding-top: 2%;">Victory Care Home</h1>
            <h1 style="color: black;">Services, LLC.</h1>
            <p style="font-family: Verdana, Geneva, Tahoma, sans-serif;margin-top: 3%;">The golden years must be gratifying and fulfilling.<br> Health and safety risks shouldn’t hinder seniors from having memorable moments in their life.<br>

                We want aging adults to have that kind of life through our services.<br> You will find ease and peace in knowing that your loved ones are enjoying their life while receiving keen and compassionate care according to their needs.</p>
        </div>
        <div class="col-md-6">
            <img src="/static/images/Free photo medium shot health worker helping patien.jpg" alt="" style="height: 99%; width: 99%;border-radius: 40%;">
        </div>
    </div>
    <div class="container">
        <div class="row" style="margin-top: 5%;">
            <div class="col-md-4" >
                <h3>Schedule an assesment</h3>
                <p>Learn more about how our services can affect your loved one.</p>
                <img src="/static/images/bottom1-img1.jpg" alt="">
            </div>
            <div class="col-md-4">
                <h3>We accept referrals</h3>
                <p>Refer us to someone you know that needs our services</p>
                <img src="/static/images/bottom1-img2.jpg" alt="">
            </div>
            <div class="col-md-4">
                <h3>Our assisted living staff</h3>
                <p>Meet the staff behind our excellent living services</p>
                <img src="/static/images/bottom1-img3.jpg" alt="">
            </div>
        </div>

    </div>
    <div class="row" style="margin-top: 3%;padding-bottom: 2%; background: linear-gradient(180deg, rgb(255, 255, 255), rgb(167, 210, 246));padding: 5% 5%;">
        <div class="col-md-1"></div>
        <div class="col-md-3">
            <h1>Our Mission</h1>

        </div>
        <div class="col-md-5">
            <h4 style="font-family: cursive;">
                We aim to make a senior's life more meaningful without worrying about who will care for their safety and needs through our various excellent assisted living services and amenities.


            </h4>

        </div>
        <div class="col-md-3">
            <a href=""><button type="button" class="btn btn-info" style="border-radius: 30px;font-family: Georgia, serif;">About Us </button></a>
        </div>
    </div>
    
  </div>

</div>



{%endblock%}