{%extends 'base.html'%}{%load bootstrap5%}{% load static %}
{%block content%}


<!-- <div class="container shadow" style="height: 50vh;width:94%;margin-top:3%;background-image: url(/static/images/bounty6.jpg );">
  <h1  style="padding-top: 7%;padding-left:10%;color: rgb(25, 83, 159);"></h1>
</div> -->

<div class="container-fluid">
 
    <!-- <h1 style="color: rgb(13, 134, 195);margin-top: 3%;">Victory Care Home </h1> -->
    
    
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="/static/images/Free photo medium shot health worker helping patien.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="/static/images/Photo senior man volunteer nurse or support caregiv.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="/static/images/Free photo joyful old lady sitting on couch.jpg" class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

</div>


{%endblock%}